
<app-menu></app-menu>
<div class="container">

    <div class="row my-5 justify-content-center">

    <div class="col-5">
        <h1>Inicio</h1>
        <p class="my-5">Misfits es una banda estadounidense de Horror Punk formada en 1977 en la ciudad de Lodi, Nueva Jersey, fundada y liderada originalmente por el cantante Glenn Danzig. El grupo está ligado al hardcore punk, además de estar estrechamente relacionado con géneros como el heavy metal​ y el rock and roll.
        </p>
        <p>La primera formación del grupo estaba constituida por el vocalista Glenn Danzig, el bajista Jerry Only, el baterista Manny Martínez y el guitarrista Franché Coma. En noviembre de 1978 entra Bobby Steele como guitarrista en reemplazo de Franché Coma y Joey Image como baterista. Con está formación grabaron varios EP e incluso gran parte de fans dicen que esta fue su mejor formación. Esta alineación duraría hasta 1980, luego del despido de Steele por parte de Danzig y Only para que entre Paul Caiafa, hermano menor de Jerry Only. Arthur Googy tocó la batería entre 1980 y 1982, tras la salida de Joey Image en 1980. En 1982 entra Robo como baterista y siendo esta su formación más clásica y recordada por los fans. Tras diferencias musicales, Glenn Danzig disolvió la banda en 1983.</p>
    </div>
    <div class="col-5 my-5 mx-4 ">
        <img src="https://firebasestorage.googleapis.com/v0/b/fotos-misfits.appspot.com/o/fondo.png?alt=media&token=7396794a-8b66-4b41-bd68-b6a7cf40b211"class="h-100 w-100" title="asd">
    </div>
</div>

<div class="row my-5 justify-content-center">
    <div class="col-5">
        <img src="https://firebasestorage.googleapis.com/v0/b/fotos-misfits.appspot.com/o/fondo2.jpg?alt=media&token=a666b676-3b5e-424a-a2f1-98627d593b8f" class="h-100 w-100" title="asd">

    </div>
    <div class="col-5 mx-5 ">
        <p>Misfits ha sido considerada a lo largo de los años como una de las bandas más importantes del movimiento punk contemporáneo, siendo uno de los integrantes de la primera ola del género y difusores del mismo; además, crearon una variante llamada horror punk, que se ha desarrollado a lo largo de las últimas décadas. A través del tiempo el grupo se ha caracterizado por componer canciones basadas en películas de terror y ciencia ficción, y por su imagen terrorífica y conflictos dentro y fuera del escenario.</p>
    </div>
</div>

<div class="row my-5 justify-content-center">

    <div class="col-5">
        <p>Durante su carrera, la banda ha pasado por dos etapas claramente definidas. La primera con el vocalista y fundador Glenn Danzig hasta 1983 (el último disco en que participa Glenn es el sencillo publicado en 1984 Die, Die My Darling) y la segunda, desde 1994, primero con el vocalista Michale Graves y luego incorporando a tres integrantes de los principales grupos de punk rock de la primera ola: Marky Ramone (Ramones) en la batería, Dez Cadena (Black Flag) en la guitarra y Jerry Only como vocalista y bajista, siendo el único que ha tocado en todos los álbumes del grupo.</p>

    </div>
    <div class="col-5 mx-5 ">
        <img src="https://firebasestorage.googleapis.com/v0/b/fotos-misfits.appspot.com/o/fondo3.jpg?alt=media&token=6807eb0d-beb0-44e1-b591-1dc16624d0ec" class="h-100 w-100" title="asd">
    </div>
</div>
</div>

<app-footer></app-footer>
