.banner{
    background: url(https://firebasestorage.googleapis.com/v0/b/fotos-misfits.appspot.com/o/fondo.png?alt=media&token=7396794a-8b66-4b41-bd68-b6a7cf40b211);
    background-position: top center;
    background-size: cover;
    padding: 5% 30% 40% 20%;

}